.btn {
    border: 2px solid #dc143c;
    padding: 20px 30px;
    background-color: #dc143c;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    transition: .4s;

}
.btn:hover {
    background-color: transparent;
    color: #000000;
    
}

a{
    text-decoration: none;
    color: black;
    
}